<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="APP_DEBUG" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="dbDoKhi" connectionString="Data Source=.;Initial Catalog=dbDoKhi;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="dbDoKhi" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|db\dbDoKhi.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>