<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net46" />
  <package id="Dapper.SimpleCRUD" version="2.1.0" targetFramework="net46" />
  <package id="Dapper.SimpleCRUD.ModelGenerator" version="1.0.3" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
</packages>